*{
    padding:0;
    margin:0
}
.container{
   border:3px solid black ;
   height:350px;
   /* display:flex; */
   /* justify-content: center; */
   padding: 20px;
   background-color: rgb(195, 227, 227);
   /* gap:10px; */
   /* display:flex */
   border-radius: 30px;
   
}
.col{
    border:2px solid black;
    height:300px;
    width:80%;
    border-radius: 20px;
    background-color:azure;
    padding:10px
}
.btn{
     left:20px; 
    margin-left: 121px; 
} 