.maxx{
  margin-right:150px;
  font-family: 'Poppins', sans-serif;
  font-size:xx-large;
  font-weight:900;
  /* border:2px solid black; */
  background-color: red;
  color:white;
  width:40%;
  
  margin-left: 250px;
}
 .nav1{  
    background-color: aquamarine;
}
.container2{
    /* border: 2px solid red; */
    width:100%;
    /* height:430px; */
    display:flex;
}
.cont1{
    width:50%;
    background-color:aliceblue;
    height: 430px;
    /* display: inline-block; */
    

}
.cont2{
    width:49%;
    height: 430px;
    /* border:2px solid blue */
    /* display: inline-block; */
    /* margin-bottom: 40px; */


}
.maxx2{
    margin-top: 40px;
    margin-left:100px ;
}
.button{
    background-color: orange;
    color:white;
    border:none;
    margin-top:25px;
    margin-left:100px
}
.p1{
    margin-left: 100px;
    margin-top: 30px;
}
.img1{
    height:330px;
    width:800px;
    margin-top:45px
}
.new1{
    /* border:2px solid red; */
    height:450px
}
.hel1{
    margin-top: 40px;
    margin-left: 100px;
}
.new2{
    /* border:3px solid green; */
    /* height:350px; */
    display:flex
}
.new3{
    width:33.3%;
     height:350px;
    
}.new4{
    width:33.3%;
     height:350px;
    
}.new5{
    width:33.4%;
     height:350px;
}
.nimg1{
    height:250px;
    width:60%;
    margin-left: 100px;
}
.nimg2{
    height:250px;
    width:60%;
    margin-left: 100px;
    
}
.nimg3{
    height:250px;
    width:60%;
    margin-left: 100px;


}


.hello{
    margin-left: 100px;
    margin-top: 15px;
}
.none{
    margin-left: 100px;
    margin-top: 15px;
}
.butt{
    margin-left: 100px;
    margin-right: 20px;
    border:none;
    background-color: orange;
    color:white
}
.kunush{
    margin-left: 600px !important;
    
}
nav {
    background-color: aqua !important;
    position:sticky !important;
    top:0;
    left:0
    
}
.down{
    /* border: 3px solid red; */
    height: 400px;
    margin-top: 70px;
    background-color: grey;
    /* box-shadow: 0 0 50px 0 white; */
    /* border-radius: 40px; */
}
.down1{
    width:35%;
    background-color: gray;
    height: 400px;
    display: inline-block;
   
}
.down2{
    width:35%;
    background-color: gray;
    height: 400px;
    display: inline-block;
}
.down3{
    width:29.5%;
    background-color: grey;
    height: 352px;
    display: inline-block;
}
.cool{
    margin-top: 85px;
    margin-left: 100px;
    color:black
}
.pp{
    margin-left: 100px;
    color:black
}
@media only screen and (max-width:768px){
   
    .maxx{
        /* margin-right:150px; */
        font-family: 'Poppins', sans-serif;
        font-size:xx-large;
        font-weight:900;
        /* border:2px solid black; */
        background-color: red;
        color:white;
        width:100%;
        
        margin-left: 250px;
      }
       .nav1{  
          background-color: aquamarine;
      }
      .container2{
          /* border: 2px solid red; */
          width:100%;
          /* height:430px; */
          display:flex;
          flex-direction: column;
      }
      .cont1{
          width:100%;
          background-color:aliceblue;
          height:430px
          
      
      }
      .cont2{
          width:100%;
          
          /* border:2px solid blue */
          height:430px
      
      }
      .cont2 img{
        width:100%;
        height: 400px;
      }
      .maxx2{
          margin-top: 40px;
          margin-left:100px ;
      }
      .button{
          background-color: orange;
          color:white;
          border:none;
          margin-top:25px;
          margin-left:100px
      }
      .p1{
          margin-left: 100px;
          margin-top: 30px;
      }
      .img1{
          height:330px;
          width:800px;
          margin-top:45px
      }
      .new1{
          /* border:2px solid red; */
          height:450px
      }
      .hel1{
          margin-top: 40px;
          margin-left: 231px;
      }
      .new2{
          /* border:3px solid green; */
          /* height:350px; */
          display:flex;
          flex-direction: column;
          
      }
      .new3{
          width:100%;
          margin-top: 30px;
          height:350px
          
      }.new4{
          width:100%;
          height:350px
          
      }.new5{
          width:100%;
          height:350px
          
      }
    .nimg1{
          height:250px;
          width:60%;
          margin-left: 131px;
      }
    .nimg2{
        height:250px;
        width:60%;
        margin-left: 131px;
    margin-top: 90px;
}

    .nimg3{
            height:250px;
            width:60%;
            margin-left: 131px;
            margin-top: 190px;
        }
      
    .hello{
          margin-left: 250px;
          margin-top: 25px;
      }
    .none{
          margin-left: 100px;
          margin-top: 15px;
      }
      .butt{
          margin-left: 100px;
          margin-right: 20px;
          border:none;
          background-color: orange;
          color:white
      }
      .kunush{
          /* margin-left: 600px !important; */
          
      }
      nav {
          background-color: aqua !important;
          position:sticky !important;
          top:0;
          left:0
          
      }
      .down{
          
        
          margin-top: 980px;
          display:flex;
          flex-direction: column;
          background-color: grey;
          /* box-shadow: 0 0 50px 0 white; */
          /* border-radius: 40px; */
      }
      .down1{
          width:100%;
          background-color: gray;
          height: 400px;
          display: inline-block;
         
      }
      .down2{
          width:100%;
          background-color:grey;
          height: 400px;
          display: inline-block;
      }
      .down3{
          width:100%;
          background-color: grey;
          height: 400px;
          display: inline-block;
      }
      .cool{
          margin-top: 85px;
          margin-left: 100px;
          color:black
      }
      .pp{
          margin-left: 100px;
          color:black
      }
      .navbar{
        display: flex;
        flex-direction: column;
      }

}

